@import url(https://fonts.googleapis.com/css?family=Roboto:900)
$primary-color: #FF4136
body
  background-color: #d5d5d5
  font-family: 'Roboto', sans-serif
.main
  position: relative
  display: flex
  background-color: #eee
  height: 300px
  width: 700px
  left: 50%
  transform: translate(-50%)
  margin: 10% 0
  box-shadow: 0px 20px 60px #999999
  border-radius: 2px
  padding: 50px
  box-sizing: border-box
  align-items: center
  justify-content: center
  .header
    position: absolute
    font-size: 1.4em
    top: 10%
    color: $primary-color
  .spinner
    position: relative
    height: 55px
    width: 55px
    border-radius: 50%
    margin: 0 auto
    margin-top: 20%
    background-color: #d5d5d5
    &:after, &:before
      content: ""
    &.spinner-1
      @keyframes spinning
        0%
          transform: rotate(0deg) scale(1)
        50%
          transform: rotate(45deg) scale(1.2)
        100%
          transform: rotate(360deg) scale(1)
      &:before
        border: 2px solid $primary-color
        display: block
        position: absolute
        top: -2px
        left: -2px
        bottom: -2px
        right: -2px
        border-radius: 50%
        border-top-color: transparent
        border-bottom-color: transparent
        animation: spinning 1s linear infinite
    &.spinner-2
      animation: spinning-2 2s linear infinite
      @keyframes spinning-2
        0%
          transform: rotate(0deg)
        100%
          transform: rotate(360deg)
      @keyframes bouncing
        0%, 100%
          transform: translateY(0)
        50%
          transform: translateY(22.5px)
      &:before
        position: absolute
        height: 15px
        width: 15px
        left: 50%
        top: 0
        margin-left: -7.5px
        border-radius: 50%
        background-color: $primary-color
        animation: bouncing 1s linear infinite
      &:after
        position: absolute
        height: 15px
        width: 15px
        left: 50%
        bottom: -15px
        margin-left: -7.5px
        border-radius: 50%
        background-color: $primary-color
        animation: bouncing 1s linear infinite
    &.spinner-3
      background: none
      border: 2px solid #d5d5d5
      @keyframes spinning-3
        0%
          transform: rotate(0deg)
        100%
          transform: rotate(360deg)
      &:before
        position: absolute
        height: 66%
        width: 2px
        margin-top: -1px
        top: 50%
        left: 50%
        margin-left: -1px
        border-radius: 2px
        background-color: $primary-color
        transform-origin: top center
        animation: spinning-3 2s linear infinite
    &.spinner-4
      @keyframes pulse
        0%
          transform: scale(0)
          opacity: 1
        100%
          transform: scale(1.2)
          opacity: 0
      &:before, &:after
        position: absolute
        height: 55px
        width: 55px
        border-radius: 50%
        display: block
        background-color: $primary-color
      &:before
        animation: pulse 1.5s ease-out infinite
      &:after
        animation: pulse 1.5s ease-out 0.15s infinite
    &.spinner-5
      height: 0
      width: 0
      @keyframes bouncing
        0%,100%
          transform: translateY(0)
        50%
          transform: translateY(-10px)
      span
        position: absolute
        height: 10px
        width: 10px
        border-radius: 50%
        background-color: $primary-color
        &:nth-child(1)
          left: -15px
          animation: bouncing 1s ease-in-out infinite
        &:nth-child(2)
          left: 0
          animation: bouncing 1s ease-in-out 0.20s infinite
        &:nth-child(3)
          left: 15px
          animation: bouncing 1s ease-in-out 0.40s infinite

